{foreach name="data" item="v"}
<tr>
    <td class="hidden-xs" height="28" >{$v.id}</td>
    <td>{$v.name}</td>
    <td>{$v.student_no}</td>
    <td class="hidden-sm hidden-xs">{$v.class_id}</td>
    <td class="hidden-sm hidden-xs">
        {$v.test_no}
    </td>
    <td class="hidden-sm hidden-xs">
        {$v.create_time|date='Y-m-d H:i:s',###}
    </td>
    <td>
        <div class=" action-buttons">
            <a class="green"  href="{:url('admin/Students/students_edit',array('id'=>$v['id']))}" title="修改">
                <i class="ace-icon fa fa-pencil bigger-130"></i>
            </a>
            <a class="red" href="{:url('admin/Students/students_del',array('id'=>$v['id']))}" data-info="你确定要删除吗？" title="删除">
                <i class="ace-icon fa fa-trash-o bigger-130"></i>
            </a>
        </div>
    </td>
</tr>
{/foreach}
<tr>
    <td height="50" colspan="7" align="left">{$page}</td>
</tr>
