{extend name="admin@public/base" /}
{block name="main-content"}
<div class="page-content">

    <div class="row maintop">
        <div class="col-xs-5 col-sm-2  margintop5">
            <a href="{:url('admin/Students/students_add')}">
                <button class="btn btn-sm btn-danger">
                    <i class="ace-icon fa fa-bolt bigger-110"></i>
                    添加学生
                </button>
            </a>
        </div>
        <form name="admin_list_sea" class="form-search" id="list-filter" method="post" action="{:url('admin/Students/students_list')}">

            <div class="col-xs-12 col-sm-3  margintop5">
                <div class="input-group">
						<span class="input-group-addon">
							<i class="ace-icon fa fa-check"></i>
						</span>
                    <input type="text" name="key" id="key" class="form-control" value="" placeholder="输入学生名" />
                    <span class="input-group-btn">
							<button type="submit" class="btn btn-sm  btn-purple ajax-search-form">
								<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
								搜索
							</button>
						</span>
                </div>
            </div>

        </form>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div>
                <table class="table table-striped table-bordered table-hover" id="dynamic-table">
                    <thead>
                    <tr>
                        <th class="hidden-xs">ID</th>
                        <th>姓名</th>
                        <th>学号</th>
                        <th class="hidden-sm hidden-xs">班级</th>
                        <th class="hidden-sm hidden-xs">考号</th>
                        <th class="hidden-sm hidden-xs">创建时间</th>
                        <th style="border-right:#CCC solid 1px;">操作</th>
                    </tr>
                    </thead>

                    <tbody id="ajax-data">
                    {include file="students/ajax_students_list"/}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div><!-- /.page-content -->
{/block}
