{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">

		<!--主题-->
		<div class="page-header">
			<h1>
				您当前操作
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					添加学生信息
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal " name="students_list_add" method="post" action="{:url('admin/Students/students_runadd')}">

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 学生姓名：  </label>
						<div class="col-sm-10">
							<input type="text" name="name" id="name" placeholder="输入登录用户名" class="col-xs-10 col-sm-4" required/>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 学生学号：  </label>
						<div class="col-sm-10">
							<input type="text" name="student_no" id="student_no" placeholder="输入学生学号" class="col-xs-10 col-sm-4" maxlength="15" required/>							
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 学生班级：  </label>
						<div class="col-sm-10">
							<input type="text" name="class_id" id="class_id" placeholder="输入班级" class="col-xs-10 col-sm-4" />
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 考号：  </label>
						<div class="col-sm-10">
							<input type="text" name="test_no" id="test_no" placeholder="0" class="col-xs-10 col-sm-4" />
						</div>
					</div>
					<div class="space-4"></div>

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								保存
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="ace-icon fa fa-undo bigger-110"></i>
								重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div><!-- /.page-content -->
{/block}

