<div class="footer">
	<div class="footer-inner">
		<div class="footer-content">
			<span class="bigger-120">
				<span class="blue bolder"><a href="{:url('/admin')}" target="_ablank">模拟考试</a></span>
				后台管理系统 &copy; 2020-{:date('Y')}
			</span>
		</div>
	</div>
</div>
