{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">

		<div class="row maintop">
			<div class="col-xs-5 col-sm-2  margintop5">
				<a href="{:url('admin/Member/member_add')}">
					<button class="btn btn-sm btn-danger">
						<i class="ace-icon fa fa-bolt bigger-110"></i>
						添加会员
					</button>
				</a>
			</div>
			<form name="admin_list_sea" class="form-search" id="list-filter" method="post" action="{:url('admin/Member/member_list')}">
				<div class="col-xs-12 col-sm-4  margintop5">
					<select name="opentype_check" class="ajax_change">
						<option value="">按开启状态</option>
						<option value="1" {if condition="$opentype_check eq '1'"}selected="selected"{/if}>开启</option>
						<option value="0" {if condition="$opentype_check eq '0'"}selected="selected"{/if} >禁用</option>
					</select>
					<select name="activetype_check" class="ajax_change">
						<option value="">按激活状态</option>
						<option value="1" {if condition="$activetype_check eq '1'"}selected="selected"{/if}>已激活</option>
						<option value="0" {if condition="$activetype_check eq '0'"}selected="selected"{/if} >未激活</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-3  margintop5">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="ace-icon fa fa-check"></i>
						</span>
						<input type="text" name="key" id="key" class="form-control" value="{$val}" placeholder="输入用户名或者邮箱" />
						<span class="input-group-btn">
							<button type="submit" class="btn btn-sm  btn-purple ajax-search-form">
								<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
								搜索
							</button>
						</span>
					</div>
				</div>
				<!--<div class="col-xs-4 col-sm-3 margintop5">
					<div class="input-group-btn">
						<a href="{:url('admin/Member/member_list')}">
							<button type="button" class="btn btn-sm  btn-purple ajax-display-all">
								<span class="ace-icon fa fa-globe icon-on-right bigger-110"></span>
								显示全部
							</button>
						</a>
					</div>
				</div>-->
			</form>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div>
					<table class="table table-striped table-bordered table-hover" id="dynamic-table">
						<thead>
						<tr>
							<th class="hidden-xs">ID</th>
							<th>用户名</th>
							<th>昵称/邮箱</th>
							<th class="hidden-sm hidden-xs">来源</th>
							<th class="hidden-sm hidden-xs">性别</th>
							<th class="hidden-sm hidden-xs">会员用户组</th>
							<th class="hidden-sm hidden-xs">积分</th>
							<th class="hidden-sm hidden-xs">添加时间</th>
							<th class="hidden-xs">状态</th>
							<th class="hidden-xs">激活</th>
							<th style="border-right:#CCC solid 1px;">操作</th>
						</tr>
						</thead>

						<tbody id="ajax-data">
							{include file="member/ajax_member_list"/}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div><!-- /.page-content -->
{/block}
